dpdService/ProxyTest/Service References/Proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="dpdService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DpdService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IdpdProxy_getCitiesDPD_InputMessage">
    <wsdl:part name="parameters" element="tns:getCitiesDPD" />
  </wsdl:message>
  <wsdl:message name="IdpdProxy_getCitiesDPD_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCitiesDPDResponse" />
  </wsdl:message>
  <wsdl:message name="IdpdProxy_needUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:needUpdate" />
  </wsdl:message>
  <wsdl:message name="IdpdProxy_needUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:needUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IdpdProxy_getServiceCost2_InputMessage">
    <wsdl:part name="parameters" element="tns:getServiceCost2" />
  </wsdl:message>
  <wsdl:message name="IdpdProxy_getServiceCost2_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServiceCost2Response" />
  </wsdl:message>
  <wsdl:portType name="IdpdProxy">
    <wsdl:operation name="getCitiesDPD">
      <wsdl:input wsaw:Action="http://tempuri.org/IdpdProxy/getCitiesDPD" message="tns:IdpdProxy_getCitiesDPD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IdpdProxy/getCitiesDPDResponse" message="tns:IdpdProxy_getCitiesDPD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="needUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IdpdProxy/needUpdate" message="tns:IdpdProxy_needUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IdpdProxy/needUpdateResponse" message="tns:IdpdProxy_needUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServiceCost2">
      <wsdl:input wsaw:Action="http://tempuri.org/IdpdProxy/getServiceCost2" message="tns:IdpdProxy_getServiceCost2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IdpdProxy/getServiceCost2Response" message="tns:IdpdProxy_getServiceCost2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPendpoint" type="tns:IdpdProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCitiesDPD">
      <soap:operation soapAction="http://tempuri.org/IdpdProxy/getCitiesDPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="needUpdate">
      <soap:operation soapAction="http://tempuri.org/IdpdProxy/needUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceCost2">
      <soap:operation soapAction="http://tempuri.org/IdpdProxy/getServiceCost2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dpdService">
    <wsdl:port name="SOAPendpoint" binding="tns:SOAPendpoint">
      <soap:address location="http://localhost:63658/dpdService.svc/SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>