dpdService/ProxyTest/Service References/Proxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DpdService" />
  <xs:element name="getCitiesDPD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCitiesDPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DpdService" minOccurs="0" name="getCitiesDPDResult" nillable="true" type="q1:ArrayOfcity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="needUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="needUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="needUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceCost2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DpdService" minOccurs="0" name="request" type="q2:serviceCostRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceCost2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DpdService" minOccurs="0" name="getServiceCost2Result" nillable="true" type="q3:ArrayOfserviceCost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>