dpdService/dpdService/Service References/geographyProxy/geography.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dpd.ru/ws/geography/2012-04-17" targetNamespace="http://dpd.ru/ws/geography/2012-04-17" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WSFault" type="tns:WSFault" />
  <xs:element name="getCitiesCashPay" type="tns:getCitiesCashPay" />
  <xs:element name="getCitiesCashPayResponse" type="tns:getCitiesCashPayResponse" />
  <xs:element name="getParcelShops" type="tns:getParcelShops" />
  <xs:element name="getParcelShopsResponse" type="tns:getParcelShopsResponse" />
  <xs:element name="getTerminalsSelfDelivery" type="tns:getTerminalsSelfDelivery" />
  <xs:element name="getTerminalsSelfDelivery2" type="tns:getTerminalsSelfDelivery2" />
  <xs:element name="getTerminalsSelfDelivery2Response" type="tns:getTerminalsSelfDelivery2Response" />
  <xs:element name="getTerminalsSelfDeliveryResponse" type="tns:getTerminalsSelfDeliveryResponse" />
  <xs:complexType name="getParcelShops">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:dpdParcelShopRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdParcelShopRequest">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" type="xs:string" />
      <xs:element minOccurs="0" name="cityCode" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="auth">
    <xs:sequence>
      <xs:element name="clientNumber" type="xs:long" />
      <xs:element name="clientKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParcelShopsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdParcelShops" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdParcelShops">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parcelShop" nillable="true" type="tns:parcelShop" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="storagePeriod" nillable="true" type="tns:storagePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parcelShop">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="parcelShopType" type="xs:string" />
      <xs:element minOccurs="0" name="address" type="tns:address" />
      <xs:element minOccurs="0" name="geoCoordinates" type="tns:geoCoordinates" />
      <xs:element minOccurs="0" name="limits" type="tns:limits" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="workingTime" type="tns:workingTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" type="xs:string" />
      <xs:element minOccurs="0" name="regionName" type="xs:string" />
      <xs:element minOccurs="0" name="cityCode" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="street" type="xs:string" />
      <xs:element minOccurs="0" name="building" type="xs:string" />
      <xs:element minOccurs="0" name="office" type="xs:string" />
      <xs:element minOccurs="0" name="addressString" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="geoCoordinates">
    <xs:sequence>
      <xs:element minOccurs="0" name="geoX" type="xs:decimal" />
      <xs:element minOccurs="0" name="geoY" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="limits">
    <xs:sequence>
      <xs:element minOccurs="0" name="maxWeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="maxLength" type="xs:decimal" />
      <xs:element minOccurs="0" name="maxWidth" type="xs:decimal" />
      <xs:element minOccurs="0" name="maxHeight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workingTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="weekDays" type="xs:string" />
      <xs:element minOccurs="0" name="workTime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="storagePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
      <xs:element name="days" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTerminalsSelfDelivery2">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth" type="tns:auth" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTerminalsSelfDelivery2Response">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdTerminalExt" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdTerminalExt">
    <xs:sequence>
      <xs:element minOccurs="0" name="terminal" type="tns:terminalExt" />
      <xs:element minOccurs="0" name="city" type="tns:cityExt" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="terminalExt">
    <xs:sequence>
      <xs:element minOccurs="0" name="terminalCode" type="xs:string" />
      <xs:element minOccurs="0" name="terminalName" type="xs:string" />
      <xs:element minOccurs="0" name="terminalAddress" type="xs:string" />
      <xs:element minOccurs="0" name="geoCoordinates" type="tns:geoCoordinates" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="workingTime" type="tns:workingTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cityExt">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityId" type="xs:long" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="countryName" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" type="xs:int" />
      <xs:element minOccurs="0" name="regionName" type="xs:string" />
      <xs:element minOccurs="0" name="cityCode" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCitiesCashPay">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth" type="tns:auth" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCitiesCashPayResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:city" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="city">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityId" type="xs:long" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="countryName" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" type="xs:int" />
      <xs:element minOccurs="0" name="regionName" type="xs:string" />
      <xs:element minOccurs="0" name="cityCode" type="xs:string" />
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="abbreviation" type="xs:string" />
      <xs:element minOccurs="0" name="indexMin" type="xs:string" />
      <xs:element minOccurs="0" name="indexMax" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTerminalsSelfDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="auth" type="tns:auth" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTerminalsSelfDeliveryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:terminalDPD" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="terminalDPD">
    <xs:sequence />
  </xs:complexType>
</xs:schema>