TestCalcService/TestCalcService/Service References/ServiceCalculator/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TrackingWCF" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataByValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="value" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataByContractResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDataByValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDataByValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="GetContractDataByValueResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="GetReceiptDataResult" nillable="true" type="q3:ReceiptInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="GetClientDataResult" nillable="true" type="q4:ClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSentReceipts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSentReceiptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="GetClientSentReceiptsResult" nillable="true" type="q5:ReceiptCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeography">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchPattern" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="deliveryType" type="q6:DelivType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeographyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="GetGeographyResult" nillable="true" type="q7:GeographyCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchPattern" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="GetWarehouseResult" nillable="true" type="q8:WarehouseCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchPattern" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="GetServicesResult" nillable="true" type="q9:ServicesCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="value" nillable="true" type="q10:ReceiptInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TrackingWCF" minOccurs="0" name="CalculateReceiptResult" nillable="true" type="q11:ReceiptCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>